.markdown-section {
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.markdown-section iframe {
    border: none;
}

.markdown-section h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    font-size: 2.7em;
}

.markdown-section h2 {
    font-weight: 300;
    font-size: 1.5em;
}

.book-summary {
    background: #f1f1f1;
    font-size: 1.1em;
}

.book-summary ul.summary li.header {
    color: #000;
    font-weight: 600;
    font-size: 1.1em;
    margin-top: 5px;
    transition: all ease 0.3s;
    text-transform: initial;
}

.book-summary ul.summary li a:hover,
.book-summary ul.summary li span:hover {
    color: #069df0;
    text-decoration: none;
    cursor: pointer;
}

.book-summary ul.summary li a,
.book-summary ul.summary li span {
    margin-top: 0;
    font-weight: 400;
    font-size: 1em;
    padding: 5px 15px 5px 23px;
}

.book-summary ul.summary li.active>a,
.markdown-section a {
    color: #069df0;
    text-decoration: none;
    background: 0 0;
}

.markdown-section img {
    border-radius: 3px;
}

.fancybox-skin {
    padding: 2px !important;
    border-radius: 3px !important;
}

.fancybox-image {
    border-radius: 3px !important;
}

img {
    margin: 15px 0;
}

.noembed-wrapper.noembed-type-video {
    margin: 40px 0;
    height: 430px !important;
}

.book-summary ul.summary li ul {
    padding-left: 0;
}

nav {
    padding-left: 15px;
}

a.gitbook-link {
    visibility: hidden;
}

h1 {
    position: relative;
}

.badges {
    position: absolute;
    left: 0;
    bottom: -30px;
    padding: 10px 0;
    display: flex !important;
}

.remise {
    display: inline-block !important;
    font-size: 12px;
    color: white;
    background: #111;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    padding: 1px 5px;
    text-transform: uppercase;
    margin-right: 0;
}

.remise.current {
    background: #f83c14;
}

.notification {
    display: flex;
    flex-direction: column;
    border-left: 5px solid #ccc;
    background: #f5f5f5;
    padding: 20px 20px 10px;
    font-family: 'Open Sans', sans-serif;
}

.notification h3 {
    margin: 0;
    font-size: 1.8rem;
}

.notification.danger {
    border-color: #f83c14;
}

.notification.success {
    border-color: #85ea51;
}


/*
.book-summary ul.summary li[data-level="1.4"].active>a {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: red;
    color: white;
}*/

.book-summary ul.summary li[data-level="1.4"]>a {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ff7979;
    color: white;
    border-radius: 2rem;
    margin-right: 2rem;
    padding: .7rem 2.2rem;
    margin-top: 1rem;
}

.book-summary ul.summary li[data-level="1.4"].active>a {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f15353;
    color: white;
    border-radius: 2rem;
    margin-right: 2rem;
    padding: .7rem 2.2rem;
    margin-top: 1rem;
}


/*
li[data-level="1.4"] a::after {
    display: inline-flex;
    background: red;
    color: white;
    border-radius: 2px;
    margin-left: .7rem;
    padding: 1px 3px;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    content: "Important";
}*/